APP_HOST=localhost
APP_PORT=3003
APP_PROTOCOL=http
APP_API_PREFIX=/api/v1

DB_HOST=localhost
DB_PORT=15433
DB_NAME=bookings_db
DB_USER=bookings_user
DB_PASSWORD=bookings_password
DB_ENTITIES=src/models/*.entity.ts
DB_SUBSCRIBERS=src/models/*.subscriber.ts

JWT_SECRET_KEY=secret
JWT_TOKEN_TYPE=Bearer
JWT_ACCESS_TOKEN_LIFETIME=300

INTERNAL_API_KEY=internal-secret
RESTAURANTS_SERVICE_URL=http://localhost:3002
